Source: rex-augeas
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 4), libnet-ssh2-perl (>= 0.33), perl (>= 5.10.0), rex (>= 0.7.0)
Standards-Version: 3.5.1
Homepage: https://github.com/krimdomu/rex-augeas

Package: rex-augeas
Architecture: all
Depends: perl (>= 5.10.0), libnet-ssh2-perl (>= 0.33), rex (>= 0.7.0)
Description: Augeas Module for (R)?ex
